@font-face {
  font-family: 'scfont';
  src: url('../font/starcraft.ttf');
}
body{
	background: url("../img/board.jpg");
	background-size : cover;
}

.panel{
	width: 600px;
	height: 400px;
	background: url(../img/metal.jpg);
	border-radius: 10px;
	border :5px solid #2C3539;
	position: absolute;
	top : 50%;
	left : 50%;
	margin-left: -300px;
	margin-top:  -200px;
}