/*@font-face {
  font-family: 'scfont';
  src: url('../font/starcraft.ttf');
}*/

    @font-face {
     font-family: "sc2font";
     src: url('sc2font.ttf') format('truetype');
     font-weight:bold;
     font-style:normal;
    }


body{
	width: 100%;
	height: 100%;
	font-family: 'sc2font';
	background: url("../img/board.jpg");
	background-size : cover;
	float : left;
}

.panel{
	opacity: 0;
	width: 600px;
	height: 400px;
	background: url(../img/metal.jpg);
	background-size: cover;
	border-radius: 10px;
	border :5px solid #2C3539;
	position: absolute;
	top : 50%;
	margin-top:  -200px;
	text-align:  center;
}
.panel h1{
	text-align: center;
}
.raceicon{
	width : 50px;
	height :50px;
}

#scorepanel{
	background-color: white;
	/*float : left;*/
	/*width :20vw;*/
}
#playboard{
	/*float : left;*/
	/*width : 80vw;*/
}